<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         id="WebApp_ID" 
         version="3.1">
         
  <display-name>AgendaServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  		<filter-name>ConnectionFilter</filter-name>
  		<filter-class>br.com.agenda.filter.ConnectionFilter</filter-class>
  </filter>
  
  <filter-mapping>
  		<filter-name>ConnectionFilter</filter-name>
  		<url-pattern>/contato</url-pattern>
  </filter-mapping>
  
  <servlet>
     <servlet-name>ContatoServlet</servlet-name>
     <servlet-class>br.com.agenda.servlet.ContatoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	 <servlet-name>ContatoServlet</servlet-name>
  	 <url-pattern>/contato</url-pattern>
  </servlet-mapping>
  
  <error-page>
     <exception-type>javax.servlet.ServletException</exception-type>
     <location>/WEB-INF/jsp/ErrorPage.jsp</location>
  </error-page>
  
  <error-page>
     <error-code>404</error-code>
     <location>/WEB-INF/jsp/error404.jsp</location>
  </error-page>  
  
</web-app>